[submodule "front-react"]
	path = front-react
	url = https://github.com/Yanai1005/greendme-react
[submodule "front-flutter"]
	path = front-flutter
	url = https://github.com/NazonoKansatugata/greedme_flutter
[submodule "front-unity"]
	path = front-unity
	url = https://github.com/Yanai1005/greendme-unity
[submodule "line"]
	path = line
	url = https://github.com/NazonoKansatugata/greedme_line
